/* Example styles for the Material UI components */
.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 24px
}

.table {
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &-done {
    background-color: #1E90FF;
    color: #fff;
  }

  &-label {
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    // border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.btn {
  width: 100%;

  &-reserve {
    appearance: none;
    background-color: #1E90FF;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;

    &:focus:not(:focus-visible):not(.focus-visible) {
      box-shadow: none;
      outline: none;
    }

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
      outline: none;
    }

    &:disabled {
      background-color: #94d3a2;
      border-color: rgba(27, 31, 35, .1);
      color: rgba(255, 255, 255, .8);
      cursor: default;
    }

    &:active {
      background-color: #298e46;
      box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
    }
  }

  &-cancel {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;

    &:hover {
      background-color: #F3F4F6;
      text-decoration: none;
      transition-duration: 0.1s;
    }

    &:disabled {
      background-color: #FAFBFC;
      border-color: rgba(27, 31, 35, 0.15);
      color: #959DA5;
      cursor: default;
    }

    &:active {
      background-color: #EDEFF2;
      box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
      transition: none 0s;
    }

    &:focus {
      outline: 1px transparent;
    }

    &:before {
      display: none;
    }

    &:-webkit-details-marker {
      display: none;
    }
  }
}

/* Styles for the restaurant information */

.restaurant {
  &-info {
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
  }

  &-title {
    font-size: 32px;
    font-weight: bold;
    color: #007bff;
  }

  &-description {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 10px;
  }

  &-code {
    font-family: monospace;
    font-size: 18px;
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 4px;
  }
}